.footer {
    margin-top: 90px;
    width: 100%;
    height: auto;
    background-color: #41abe1;
    position: fixed;
    bottom: 0;
}

.navigation_list_element  {
    display: inline;
    padding: 30px;
    margin: auto;
}

.navigation_list  {
    text-align: center;
}

.navigation_list_element_link {
    color: antiquewhite;
    font-size: 22px;
    font-weight: bold;
    font-family: "KoHo", sans-serif;
    text-decoration: none;
}

.navigation_list_element_link:hover {
    color: #006dbf;
    text-decoration: none;
}